extends layout

block content
  h1.text-center.mb-4.text-uppercase Member's List

  ul
    each user in users
        br
        strong Name: 
        | #{user.profile.name} 
        td
            a(href=`/members/${user._id}`) View Profile
        br
