extends layout

block content
  h1 Members List

  ul
    each user in users
        br
        strong Name: 
        | #{user.profile.name} 
        li.nav-item
          a.nav-link(class=(title === 'Members') ? 'active' : '', href='/members') View Profile
        br
