extends layout

block content
  h1 Members List

  ul
    each user in users
        br
        strong Name: 
        | #{user.profile.name} 
        td
            a.btn.btn-primary.btn-sm(href=`/members/${user._id}`) View Profile
        br
